<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<form action="/users">
    <label for="firstname">Firstname:
        <input id="firstname" type="text" name="firstname">
    </label>
    <label for="lastname">Lastname:
        <input id="lastname" type="text" name="lastname">
    </label>
    <label for="birthDateBefore">Birth date before:
        <input id="birthDateBefore" type="date" name="birthDateBefore">
    </label>
    <label for="birthDateAfter">Birth date after:
        <input id="birthDateAfter" type="date" name="birthDateAfter">
    </label>
    <button type="submit">Filter</button>
</form>
<div th:each="user : ${users}">
    <a th:href="@{'/users/' + ${user.id}}" th:text="|${user.id}. ${user.username}|">User</a>
</div>
</body>
</html>